.PaletaListaItem {
  font-family: "Exo";
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px;
  width: 315px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  transition: all 0.5s;
}

@media (max-width: 400px) {
  .PaletaListaItem {
    width: 210px;
    height: 180px;
  }
}

.PaletaListaItem > div {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}

.PaletaListaItem__titulo {
  font-size: 1.5em;
  font-weight: 700;
  line-height: 100%;
}

.PaletaListaItem__descricao {
  font-size: 0.85em;
  width: 100%;
}

.PaletaListaItem__preco {
  color: darkviolet;
}

.Acoes {
  display: flex;
  justify-content: space-between;
}

.Acoes__adicionar,
.Acoes__remover {
  border: none;
  color: white;
  border-radius: 5px;
  font-family: "Exo", sans-serif;
  padding: 5px;
  max-width: 280px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  width: 48%;
}

.Acoes__remover {
  background-color: red;
}

.Acoes__adicionar {
  background-color: darkviolet;
}

.Acoes__adicionar--preencher {
  width: 100%;
}

.PaletaListaItem__foto {
  height: 150px;
  margin-right: -60px;
}

.PaletaListaItem__badge {
  background-color: greenyellow;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: relative;
  color: black;
  font-size: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  top: -9px;
  left: -9px;
}

.PaletaListaItem--disable {
  box-shadow: 0px 0px 7px rgba(148, 0, 211);
}

.PaletaListaItem--disable,
.PaletaListaItem--disable .PaletaListaItem__preco {
  color: gray;
}

.PaletaListaItem--disable .PaletaListaItem__badge {
  display: none;
}

.PaletaListaItem--disable img {
  filter: grayscale(100%);
}

.PaletaListaItem--disable button:disabled {
  background-color: gray;
}

.PaletaListaItem__tag {
  background-color: darkviolet !important;
  color: white !important;
  position: absolute;
  font-size: 0.6em;
  border-radius: 5px;
  padding: 5px;
  top: -15px;
  left: -10px;
  letter-spacing: 1px;
}