* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html,
body,
#root {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
