.card-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  border: 1px solid red;
  border-radius: 8px;
  margin: 10px;
}

.card-infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 80%;
}
