.Header {
  max-width: 1110px;
  margin: 0 auto 25px auto;
  position: relative;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 20px 0 35px 0;
}

.Logo {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  width: 340px;
  height: 45px;
}

.Logo__titulo {
  position: absolute;
  left: 55px;
  font-family: "Exo";
  font-weight: 700;
  font-size: 2.5em;
}

.Logo__icone {
  position: absolute;
  left: -20px;
  top: -15px;
}

.Sacola {
  position: relative;
}

.Sacola__icone {
  cursor: pointer;
}

.Sacola__badge {
  background-color: red;
  width: 20px;
  height: 20px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  color: white;
  font-size: 0.9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  bottom: 0;
  right: 0;
}

@media (max-width: 1220px) {
  .Header {
    max-width: 720px;
  }
}

@media (max-width: 840px) {
  .Header {
    max-width: 320px;
  }

  .row {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
}

@media (max-width: 400px) {
  .Header {
    max-width: 250px;
  }

  .row {
    column-gap: 20px;
  }

  .Logo {
    width: 100%;
  }

  .Logo__titulo {
    font-size: 1.5em;
  }
}

.Opcoes {
  display: flex;
}

.Paleta {
  background: none;
  border: none;

  transform: translateY(-3px);
  border-radius: 10px;
  transition: all .5s;
  padding: 0;
}

.Paleta__icone {
  cursor: pointer;
  transform: translateY(3px);
}

.Paleta--ativa {
  background: rgba(148, 0, 211);
}

.Paleta--deletar {
  background: rgba(211, 0, 0);
}